*{margin: 0;padding: 0;border: none;}
a{text-decoration: none;color: none;}
input{border: none;}
a{color: black;}
ul,ol,li{list-style: none;}
body{background: url(../img/bg3.jpg);}
article{padding-top: 100px;}
.download{background-color: white;
	width: 70%;margin: 0px auto;border: dashed 10px #03254A;
}
.download h2{margin-left: 1%;margin-top: 20px;}
#inform{width: 100%;height:40px;margin-left: 1%;border-bottom: 1px solid #66CCCC;}
.downloadNum{margin-left: 20%;}
#inform p{float: left;margin: 10px 1%;margin-right: 3%;width: 15%;}
#txt{
	clear: both;line-height: 25px;text-indent: 2em;/*段落前面空两个格*/
	width: 100%;border-bottom: 1px solid #66CCCC;
}
#txt p{margin: 10px 3%;letter-spacing: 2px}
article input{
	margin-left: 2%;margin-top: 10px;margin-bottom:10px;
	background-color: #66CCCC;width: 9%;border-radius: 10px;height: 20px;
}
#downloadBtn{margin-left: 70%;}
