*{margin: 0; padding: 0px;}
body{
	margin 0px; padding: 0px; border 0px; color: #000;
	font-size: 18px;
	color:black;
}
ol,ul,li{list-style: none;}
img{border: none;}
a{text-decoration: none;color: black;}
p{
	padding-top: 10px;
	text-align: center;
	font-size: 25px;
	color: white;
}
header{
	height: 50px;
	width: 1366px;
	background-color: white;
}
a:link {color:black;} /*未访问的链接 */
header a:hover {color:#76C7C8} /*鼠标划过链接 */
header a:active {color:#FF6666;} /* 已选中的链接 */
.logo{padding-left: 75px;float: left;}
.exit{
	float: left;
	margin-left: 950px;
	margin-top: 15px;
	font-family: "楷体";
}
/*注册部分*/
section{
	width:1349px;
	height: 560px;
}
.enrollbg{
	width: 1366px;
	height: 580px;
	position: absolute;
	background: url(../img/enroll.jpg);
	background-size: cover;
}
/*注册框中的内容*/
.enroll{
	width: 275px;
	height: 460px;
	margin: 50px auto;
	border-radius: 5px 5px 5px 5px;
	background: rgba(255,255,255,0.2);
}
#username,#password,#password2,#woman,#man,#enrollbtn,#email,#codeTxt{
	margin-top: 20px;
	margin-left: 45px;
	margin-right: 45px;
}
.enrollsex{margin-left: 45px;font-family: "微软雅黑";font-size: 15px;margin-top: 20px;}
#codeTxt{width: 70px;height: 28px;margin-right: 10px;float: left;padding-left: 3px;}
#codeTxt:focus{border:1px solid crimson;}
.code{
	width: 80px;height: 30px;float: left;margin-top: 20px;
	display: inline-block;text-align: center;cursor:pointer;
	background: rgba(66,107,201,0.2);border: 1px dashed blue;border-radius: 10px;
}

#enrollbtn{
	text-align: center;
	width: 173px;
	height: 30px;
	background: rgba(255,250,255,0.2);
}
.enroll a{color: deeppink;font-size: 13px;margin-left: 100px;}
input::-webkit-input-placeholder { 
color: #999; 
-webkit-transition: color.5s; 
} 
input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder { 
color: #c2c2c2; 
-webkit-transition: color.5s; 
} 
/*页脚*/
footer{
	text-align: center;
	font-size: 12px;
	font-family: "楷体";
}
