*{margin: 0;padding: 0;border: none;}
a{text-decoration: none;color: none;}
input{border: none;}
a{color: black;}
ul,ol,li{list-style: none;}
body{height: 600px;}
img{clear: both;}
a{font-size: 12px;}
.tishi,.face{margin-left: 27%;border: 0px;}
.tishi{margin-top: 50px;}
