*{margin: 0;padding: 0;}
body{
	margin 0px; padding: 0px; border 0px; color: #000;
	font-size: 18px;
	color:black;
}
a{text-decoration: none;color: black;}
p{
	padding-top: 10px;
	text-align: center;
	font-size: 25px;
	color: white;
}
header{
	height: 50px;
	width: 1366px;
	background-color: white;
}
a:link {color:black;} /*未访问的链接 */
header a:hover {color:#76C7C8} /*鼠标划过链接 */
header a:active {color:#FF6666;} /* 已选中的链接 */
.logo{padding-left: 75px;float: left;}
.exit{
	float: left;
	margin-left: 950px;
	margin-top: 15px;
	font-family: "楷体";
}
/*登陆部分*/
section{
	width:1366px;
	height: 660px;
}
.loginbg{
	width: 1366px;
	height: 600px;
	position: absolute;
	background: url(../img/login2.png);
	background-size: cover;
}
.login{
	margin-top: 150px;
	margin-left: 550px;
	width: 300px;
	height: 240px;
	border-radius: 5px 5px 5px 5px;
	background: rgba(255,255,255,0.2);
}
.logintxt{
	width: 275px;
	height: 160px;
	margin:0 auto;
	border-radius: 5px 5px 5px 5px;
	background: rgba(255,255,255,0.2);
}
#username,#password,#loginbtn{
	width: 173px;
	margin-top: 20px;
	margin-left: 60px;
	margin-right: 60px;
}
.rembpwd{
	margin-top: 20px;
	margin-left: 60px;
	margin-right: 60px;
	font-family: "微软雅黑";
	font-size: 15px;
}
#ts{
	width: 350px;
	height: 20px;
	position: absolute;
	font-size: 12px;
	padding-left: 10px;
	background: rgba(0,255,255,0.2);
	display: none;
}
#loginbtn{
	position: relative;
	text-align: center;
	width: 173px;
	height: 30px;
	background: rgba(255,250,255,0.2);
}
.login a{font-size: 12px;margin-left: 100px;color: deeppink}
input::-webkit-input-placeholder { 
	color: #999; 
	-webkit-transition: color.5s; 
} 
input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder { 
	color: #c2c2c2; 
	-webkit-transition: color.5s; 
} 
/*页脚*/
footer{
	text-align: center;
	font-size: 12px;
	font-family: "楷体";
}
